.box { display:inline-block; }

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#container {
    overflow-x:scroll;
    overflow-y:scroll;
    width: 100%;
    height: 95%;
}

.vertical-menu {
    width: 20%;
    height: 100%;
    overflow: scroll;
}

.vertical-menu a {
    background-color: white;
    color: black;
    display: inline-block;
    padding: 12px;
    text-decoration: none;
}

.sub-menu a {
    background-color: white;
    color: black;
    display: inline-block;
    padding-left: 40px;
    text-decoration: none;
}

.vertical-menu a:hover {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    background-color: green;
    color: white;
}

.vertical-menu a.active {
    background-color: green;
    color: white;
}