#report-history {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#report-history td, #report-history th {
    border: 2px solid #ddd;
    padding: 8px;
}
#report-history tr:nth-child(even){background-color: white; color: dimgray}
#report-history th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: darkblue;
}

#report-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#report-table td, #report-table th {
    border: 2px solid #ddd;
    padding: 8px;
}
#report-table tr td:last-child {font-weight: bold; border-left: 0;}
#report-table tr td:first-child {color: dimgray; border-right: 0;}
#report-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: white;
    color: darkblue;
}

#compare-report {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}
#compare-report tr {
    border: 0;
    border-left: 1px solid black;
    border-right: 1px solid black;
}
#compare-report tr:last-child {
    border-bottom: 1px solid black;
}
#compare-report td {
    padding: 4px;
    padding-left: 10px;
}
#compare-report th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: white;
    color: darkblue;
    border: 1px solid black;
}