#table-blue {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#table-blue td, #table-blue th {
    border: 2px solid #ddd;
    padding: 8px;
}

#table-blue tr:nth-child(even){background-color: white;}

#table-blue td:hover {border: 2px solid red;}

#table-blue th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkblue;
    color: white;
}

#report-table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
#report-table td, #report-table th {
    border: 2px solid #ddd;
    padding: 8px;
}
#report-table tr td:first-child {font-weight: bold;}
#report-table tr td:last-child {color: dimgray;}
#report-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: darkblue;
    color: white;
}