<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Base</title>
        <link rel="icon" href="data:;base64,iVBORwOKGO=" />
        <link rel="stylesheet" type="text/css" href="{% static 'prettyeyes/css/bootstrap.min.css' %}" />
        {% load staticfiles %}
        <script type="text/javascript" src="{% static 'prettyeyes/js/jquery-3.3.1.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'prettyeyes/js/bootstrap.min.js' %}"></script>
        {% block extra_js %}
        {% endblock %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>