<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pretty Eyes</title>
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'prettyeyes/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'prettyeyes/js/data.js' %}"></script>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'prettyeyes/css/font.css' %}" />
    <div id="container">
        <div id="order_list" class="vertical-menu box"></div>
        <iframe id="dataframe" name="frame_data" style="float:right" width="79%" height="100%"></iframe>
    </div>
</body>
</html>