{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Order detail</title>
    <link rel="icon" href="data:;base64,iVBORwOKGO=" />
    {% load staticfiles %}
    <script type="text/javascript" src="{% static 'prettyeyes/js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'prettyeyes/js/report.js' %}"></script>
</head>
<body>
    <link rel="stylesheet" type="text/css" href="{% static 'prettyeyes/css/table.css' %}" />
    <div id="report_container"></div>
</body>
</html>